* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: #845ec2;
  color: #ffc75f;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
.title {
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.74);
}

.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  width: 60%;
  margin: 0 auto;
}
.holder label {
  text-align: left;
}
.holder input {
  width: 100%;
}
.entry {
  background: rgba(59, 74, 107, 0.4);
}

#entryHolder {
  color: white;
}

#date {
  color: white;
  display: inline-block;
  margin: 0 20px;
}

#temp {
  color: white;
  display: inline-block;
}

#content {
  color: white;
}

.headline {
  color: white;
  font-size: 30px;
}
.title {
  color: white;
}
#generate:hover {
  background-color: #2c73d2;
  color: white;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #22b2da;
  color: #333;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 50%;
  height: 50px;
  background: #3b4a6b;
  color: #ffc75f;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;

  margin: 10px auto;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #22b2da;
  color: #333;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #ffc75f;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffc75f;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffc75f;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 800px) {
  .holder {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .headline {
    font-size: 25px;
  }
  h1 {
    font-size: 28px;
  }
  label {
    font-size: 21px;
  }
  #date h4,
  #temp h4 {
    font-size: 15px;
  }
}
